<div class="container-fluid login-main">
<div class="signup_text">Not a member? <%= link_to "Sign up now", signup_path %></div>
    <div class="row login-row">
        <div class="col-md login-col">
            <%= image_tag("login_img1.png") %>
            <div class="logo">
                <a href="/home"><%= image_tag("quest_icon.png") %></a>
            </div>
        </div>
        <div class="col-md login-col">
            <%= form_tag sessions_path do |form| %>
            <div class='field'>
                <%= label_tag :email %>
                <%= text_field_tag :email %>
            </div>
            <div class='field'>
                <div><%= label_tag :password %><%= link_to "Forgot password?", signup_path %></div>
                <%= password_field_tag :password %>
                <p id='alert'><%= alert %></p>
            </div>
            <div class='actions'>
                <%= submit_tag "Login" %>
            </div>
            <% end %>
        </div>
    </div>
</div>