
    <div class="container">
        <div class="row row-cols-3">
            <div class="col-md html">
                <div class="LogoDiv">
                    <%= image_tag("html.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">HTML</h3>
            </div>
            <div class="col-md css">
                <div class="LogoDiv">
                    <%= image_tag("css.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">CSS</h3>
            </div>
            <div class="col-md javascript">
                <div class="LogoDiv">
                    <%= image_tag("js.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">Javascript</h3>
            </div>
        </div>
        <div class="row row-cols-3">
            <div class="col-md boostrap">
                <div class="LogoDiv">
                    <%= image_tag("boostrap.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">Boostrap</h3>
            </div>
            <div class="col-md java">
                <div class="LogoDiv">
                    <%= image_tag("java.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">Java</h3>
            </div>
            <div class="col-md mysql">
                <div class="LogoDiv">
                    <%= image_tag("mysql.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">MySql</h3>
            </div>
            <div class="col-md ror">
                <div class="LogoDiv">
                    <%= image_tag("ror.png", :alt => "quest_logo", :id => "logo_img") %>
                </div>
                <h3 class="text-center">Ruby on rails</h3>
            </div>
        </div>
    </div>

<style>
   .menu_div ul li:nth-child(1){
        color: #06734A;
   }
</style>