<%= render "header" %>
    <div class="container main-container">
        <div class="row-cols-md-4 row-cols-2 main-row">
            <div class="col-md main-col-md">
                <% if current_user %>
                    <a href="/quiz_html">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv html">
                                        <div>
                                            <%= image_tag("html.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">HTML</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md  main-col-md">
                <% if current_user %>
                    <a href="quiz_css">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv css">
                                        <div>
                                            <%= image_tag("css.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">CSS</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md main-col-md">
                <% if current_user %>
                    <a href="quiz_js">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv javascript">
                                        <div>
                                            <%= image_tag("js.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">Javascript</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md main-col-md">
                <% if current_user %>
                    <a href="quiz_boostrap">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv boostrap">
                                        <div>
                                            <%= image_tag("boostrap.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">Boostrap</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md main-col-md">
                <% if current_user %>
                    <a href="quiz_java">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv java">
                                        <div>
                                            <%= image_tag("java.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">Java</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md  main-col-md">
                <% if current_user %>
                    <a href="quiz_mysql">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv mysql">
                                        <div>
                                            <%= image_tag("mysql.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">MySql</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md  main-col-md">
                <% if current_user %>
                    <a href="quiz_ror">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv ror">
                                        <div>
                                            <%= image_tag("ror.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">Ruby on rails</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md  main-col-md">
                <% if current_user %>
                    <a href="quiz_c">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv c">
                                        <div>
                                            <%= image_tag("c.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">C</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md  main-col-md">
                <% if current_user %>
                    <a href="quiz_css">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv css">
                                        <div>
                                            <%= image_tag("cc.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">C++</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
            <div class="col-md  main-col-md">
                <% if current_user %>
                    <a href="quiz_python">
                        <% else %>
                            <a href="/login">
                                <% end %>
                                    <div class="LogoDiv python">
                                        <div>
                                            <%= image_tag("python.png", :alt => "quest_logo", :id => "logo_img") %>
                                        </div>
                                        <div>
                                            <h3 class="text-center">Python</h3>
                                        </div>
                                    </div>
                            </a>
            </div>
        </div>

        <style>
            .nav-item .quiz {
                color: #06734a;
            }

            .nav-item .active-quiz {
                background-color: #06734a;
                width: 40%;
                height: 7%;
                position: absolute;
                bottom: 10%;
                border-radius: 100px;
            }

            .home-nav {
                background-color: #DFE6EA;
            }
        </style>